.home {
    pointer-events: auto;
    cursor: move;
    text-align: center;
    border-radius: 25%;
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 80px 70px 1fr;
	grid-template-areas:"t"
						"n"
						"main"
}

.is-containing-piece {
    transform: scale(0);
    animation: spin 4s linear;
}

.appear {
    transform: scale(0);
    animation: star 750ms linear 2s;
}

@keyframes spin {
    100% {
        transform: scale(0) rotate(720deg);
    }
    50% {
        transform: scale(0) rotate(720deg);
    }
    0% {
        transform: scale(100%);
    }
}

@keyframes star {
    100% {
        transform: scale(0) rotate(280deg);
    }
    50% {
        transform: scale(100%) rotate(140deg);
    }
}