.bg-col-primary{
    background-color: #2B6777;
}

.text-col-primary{
    color: #ffffff !important;
}

.text-col-secondary{
    color: #2B6777;
}

.bg-col-secondary{
    background-color: #C8D8E4;
}

.btn-orange{
    color: #fff;
    background-color: #A13818;
    border-color: #A13818;
}

.btn-orange:hover {
    color: #fff;
    animation: light 100ms;
    filter: brightness(110%);
}

.lobby-player-piece {
    width: 1.5rem;
}

.lobby-piece {
    width: 2rem;
}

.lobby-piece-disabled {
    filter: brightness(25%);
    cursor: default;
}

.lobby-piece-selectable {
    cursor: pointer;
}

.lobby-piece-selectable:hover {
    transition: filter 100ms;
    filter: brightness(80%);
}

.ready-indicator {
    width: 1rem;
    height: 1rem;
    border: black solid 0.15rem;
    border-radius: 50%;
}

.ready-indicator-true {
    background-color: green;
}

.ready-indicator-false {
    background-color: red;
}

.game-list {
    border: white solid;
    max-height: 20rem;
    margin-bottom: -1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* width */
.game-list::-webkit-scrollbar {
    max-width: 1rem;
}
  
  /* Track */
.game-list::-webkit-scrollbar-track {
    background: #fff;
}
  
  /* Handle */
.game-list::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
.game-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default !important;
}

.refresh-arrow:hover {
    transition: color 100ms;
    color: #C8D8E4 !important;
}

.form-range-value {
    border-bottom: 3px solid #C8D8E4;
}

.form-range::-webkit-slider-thumb {
    height: 1.5rem;
    width: 1.5rem;
    top: -0.25rem;
    position: relative;
    background: #C8D8E4;
    border: 2px solid #2B6777;
}

.form-range::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    top: -0.25rem;
    position: relative;
    background: #C8D8E4;
    border: 2px solid #2B6777;
}

.form-range::-ms-thumb {
    height: 1.5rem;
    width: 1.5rem;
    top: -0.25rem;
    position: relative;
    background: #C8D8E4;
    border: 2px solid #2B6777;
}

.form-range::-webkit-slider-thumb:hover {
    animation: light 100ms;
    filter: brightness(110%);
}

.form-range::-moz-range-thumb:hover {
    animation: light 100ms;
    filter: brightness(110%);
}

.form-range::-ms-thumb:hover {
    animation: light 100ms;
    filter: brightness(110%);
}

.font-size-1 {
    font-size: 1rem !important;
}

.font-size-1-5 {
    font-size: 1.5rem !important;
}

.font-size-2 {
    font-size: 2rem !important;
}

.font-size-3 {
    font-size: 3rem !important;
}

.fia-border-bottom {
    border-bottom: 1px solid #2B6777;
}

.rounded-pill-bottom {
    border-bottom-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
}

.w-30 {
    width: 30%;
}

.fia-dropdown-item {
    border-bottom: 1px solid #C8D8E4;
}

.fia-dropdown-menu {
    animation: menuOpen 150ms;
    transform-origin: 0 0;
    right: 0;
    transform: translateX(00%);
    width: 10%;
    list-style: none;
}

@keyframes light {
    100% {
        filter: brightness(110%);
    }
    0% {
        filter: brightness(100%);
    }
}

@keyframes menuOpen {
    100% {
        transform: scaleY(100%);
    }
    0% {
        transform: scaleY(0%);
    }
}