.bg-col-primary{
    background-color: #2B6777;
}

.text-col-primary{
    color: #ffffff !important;
}

.bg-col-secondary{
    background-color: #C8D8E4;
}

.text-col-secondary{
    color: #2B6777;
}

.font-size-2 {
    font-size: 2rem !important;
}

.font-size-3 {
    font-size: 3rem !important;
}